name: GHA Matrix Development
run-name: |
  Deploying '${{ inputs.input-string }}'

on:
  workflow_dispatch:
    inputs:
      input-string:
        description: 'test input'
        required: true
        type: string
        default: "test"


permissions:
  id-token: write
  contents: read

env:
  node_version: 19
  num_targets: 20
  max_targets_per_batch: 5

jobs:
  generate-targets:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Output Batches
        id: output-batches
        run: |
          jq -c 'keys' test2.json > batch_keys.json  
          cat batch_keys.json
          jq -c . test2.json > batches.json
          echo "batch_keys=$(cat batch_keys.json)" >> $GITHUB_OUTPUT
          echo "batches=$(cat batches.json)" >> $GITHUB_OUTPUT

    outputs:
      batch_keys: ${{ steps.output-batches.outputs.batch_keys }}
      batches: ${{ steps.output-batches.outputs.batches }}
      
  call_reusable:
    needs: generate-targets
    strategy:
      matrix:
        batch: ${{ fromJSON(needs.generate-targets.outputs.batch_keys) }}
    uses: ./.github/workflows/reusable.yaml
    with:
      account-list: ${{ toJSON(fromJSON(needs.generate-targets.outputs.batches)[matrix.batch]) }}