name: GHA Matrix Development
run-name: |
  Deploying '${{ inputs.input-string }}'

on:
  workflow_dispatch:
    inputs:
      input-string:
        description: 'test input'
        required: true
        type: string
        default: "test"


permissions:
  id-token: write
  contents: read

env:
  node_version: 19
  num_targets: 20
  max_targets_per_batch: 5

jobs:
  generate-targets:
    runs-on: ubuntu-latest
    steps:
      - name: Create List
        id: create-list
        run: |
          echo "target_list='$(printf '%s\n' {1..${{ env.num_targets }}} | jq -R -s -c 'split("\n")[:-1]')'" >> $GITHUB_OUTPUT
      - name: Split List
        id: split-list
        run: |
          echo ${{ steps.create-list.outputs.target_list }} > targets.json
          jq '
            def ceil(n): if n == floor(n) then n else floor(n) + 1 end;
        
            . as $arr
            | ($arr | length) as $len
            | ($len / 5 | ceil) as $batches
            | [range($batches) as $i
                | { ("batch" + ($i + 1 | tostring)):
                    $arr[ ($i * 5) : ($i * 5 + 5) ] }
              ] | add
          ' targets.json > batches.json
      - name: Output Batches
        id: output-batches
        run: |
          echo '[{"batch":"batch1","accounts":[{"account_name":"aws-hs-core-engineering","account_number":"300384244247","account_profile":"aws-hs-core-engineering","business_unit":"tio","control_account":"105558157467"},{"account_name":"aws-root-delegation-nonprod","account_number":"275189445918","account_profile":"root-delegation-nonprod","business_unit":"tio","control_account":"105558157467"}]}]' > test.json
          cat test.json
          cat test.json | jq
          cat batches.json
          jq 'to_entries | map({batch: .key, accounts: .value})' -c batches.json > matrix_data.json
          cat matrix_data.json
          echo "matrix_data=$(cat matrix_data.json)" >> $GITHUB_OUTPUT
    outputs:
      matrix_data: ${{ steps.output-batches.outputs.matrix_data }}
      
  call_reusable:
    needs: generate-targets
    strategy:
      matrix:
        include: ${{ fromJSON(needs.generate-targets.outputs.matrix_data) }}
    uses: ./.github/workflows/reusable.yaml
    with:
      account-list: ${{ toJSON(matrix.accounts) }}