name: GHA Matrix Development
run-name: |
  Deploying '${{ inputs.input-string }}'

on:
  workflow_dispatch:
    inputs:
      input-string:
        description: 'test input'
        required: true
        type: string
        default: "test"


permissions:
  id-token: write
  contents: read

env:
  node_version: 19
  num_targets: 20
  max_targets_per_batch: 5

jobs:
  generate-targets:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Split List
        id: split-list
        run: |
          echo ${{ steps.create-list.outputs.target_list }} > targets.json
          jq '
            def ceil(n): if n == floor(n) then n else floor(n) + 1 end;
        
            . as $arr
            | ($arr | length) as $len
            | ($len / 5 | ceil) as $batches
            | [range($batches) as $i
                | { ("batch" + ($i + 1 | tostring)):
                    $arr[ ($i * 5) : ($i * 5 + 5) ] }
              ] | add
          ' targets.json > batches.json
          cat batches.json
          cat batches.json| jq
      - name: Output Batches
        id: output-batches
        run: |
          #jq -c 'keys' test.json > test_batches.json
          #cat test_batches.json | jq 
          #echo "batch_keys=$(cat test_batches.json)" >> $GITHUB_OUTPUT
          #cat test.json | jq 
          #jq 'to_entries | map({batch: .key, accounts: .value})' -c batches.json > matrix_data.json
          #jq 'to_entries | map({batch: .key, accounts: .value})' -c test.json > test_matrix_data.json
          #cat matrix_data.json
          #cat test_matrix_data.json
          cat test_map.json | jq -c
          #echo "matrix_data='$(cat test_map.json| jq -c)'" >> $GITHUB_OUTPUT
          #jq 'to_entries | map({batch: .key, accounts: .value})' -c test.json > matrix_data.json
          #cat matrix_data.json
          #cat matrix_data.json | jq -c
          #echo "matrix_data=$(cat matrix_data.json)" >> $GITHUB_OUTPUT

          jq 'to_entries | map({batch: .key, accounts: .value})' -c batches.json > matrix_data.json
          cat matrix_data.json
          cat matrix_data.json | jq
          echo "matrix_data=$(cat matrix_data.json)" >> $GITHUB_OUTPUT

    outputs:
      matrix_data: ${{ steps.output-batches.outputs.matrix_data }}
      
  call_reusable:
    needs: generate-targets
    strategy:
      matrix:
        batch: ${{ fromJSON(needs.generate-targets.outputs.matrix_data) }}
    uses: ./.github/workflows/reusable.yaml
    with:
      account-list: ${{ toJSON(matrix.accounts) }}