name: GHA Matrix Development
run-name: |
  Deploying '${{ inputs.input-string }}'

on:
  workflow_dispatch:
    inputs:
      input-string:
        description: 'test input'
        required: true
        type: string
        default: "test"


permissions:
  id-token: write
  contents: read

env:
  node_version: 19
  num_targets: 300
  max_targets_per_batch: 50

jobs:
  generate-targets:
    runs-on: ubuntu-latest
    steps:
      - name: Create Account List
        run: |
          jq -n "[range(1; ${{ env.num_targets }} + 1) | tostring]" > accounts.json
          jq . accounts.json
      - name: Create Batches
        id: create-batches
        run: |
          jq . accounts.json
          jq '
            def ceil(n): if n == floor(n) then n else floor(n) + 1 end;
        
            . as $arr
            | ($arr | length) as $len
            | ($len / ${{ env.max_targets_per_batch }} | ceil) as $batches
            | [range($batches) as $i
                | { ("batch" + ($i + 1 | tostring)):
                    $arr[ ($i * ${{ env.max_targets_per_batch }}) : ($i * ${{ env.max_targets_per_batch }} + ${{ env.max_targets_per_batch }}) ] }
              ] | add
          ' accounts.json > batches.json
          jq . batches.json
      - name: Output Batches
        id: output-batches
        run: |
          jq . batches.json
          jq 'to_entries | map({batch: .key, accounts: .value})' -c batches.json > matrix_data.json
          jq . matrix_data.json
          echo "matrix_data=$(cat matrix_data.json)" >> $GITHUB_OUTPUT

    outputs:
      matrix_data: ${{ steps.output-batches.outputs.matrix_data }}
      
  call_reusable:
    needs: generate-targets
    strategy:
      matrix:
        includes: ${{ fromJSON(needs.generate-targets.outputs.matrix_data) }}
    uses: ./.github/workflows/reusable.yaml
    with:
      account-list: ${{ toJSON(matrix.accounts) }}