name: GHA Matrix Development
run-name: |
  Deploying '${{ inputs.input-string }}'

on:
  workflow_dispatch:
    inputs:
      input-string:
        description: 'test input'
        required: true
        type: string
        default: "test"

permissions:
  id-token: write
  contents: read

env:
  node_version: 19
  num_targets: 300
  max_targets_per_batch: 2

jobs:
  generate-targets:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Create Account List
        if: false
        run: |
          jq -n "[range(1; ${{ env.num_targets }} + 1) | tostring]" > accounts.json
          jq . accounts.json
      - name: Create Batches
        id: create-batches
        run: |
          jq . accounts.json

          # sort by BU
          jq 'sort_by(.business_unit) | group_by(.business_unit) | map({ (.[0].business_unit): . }) | add' ./accounts.json > bu_accounts.json

          # create batches if necessary
          jq --argjson max_batch_size "${{ env.max_targets_per_batch }}" '
            to_entries
            | map(
                if (.value | length) <= $max_batch_size then
                  .
                else
                  ( . as $entry
                    | ( $entry.value | length / $max_batch_size | ceil) as $num_batches
                    | [range(0; $num_batches) as $i
                       | {key: "\($entry.key)-batch\($i + 1)", value: ($entry.value[$i * $max_batch_size:(($i + 1) * $max_batch_size)])}]
                    )
                  | .[]
                end
              )
            | from_entries
          ' bu_accounts.json > batches.json
          jq . batches.json
      - name: Output Batches
        id: output-batches
        run: |
          jq . batches.json
          jq 'to_entries | map({batch: .key, accounts: .value})' -c batches.json > matrix_data.json
          jq . matrix_data.json
          echo "matrix_data=$(cat matrix_data.json)" >> $GITHUB_OUTPUT

    outputs:
      matrix_data: ${{ steps.output-batches.outputs.matrix_data }}
      
  call_reusable:
    name: ${{ matrix.batch }}
    needs: generate-targets
    strategy:
      matrix:
        include: ${{ fromJSON(needs.generate-targets.outputs.matrix_data) }}
    uses: ./.github/workflows/reusable.yaml
    with:
      account-list: ${{ toJSON(matrix.accounts) }}